label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  cursor: pointer;
}

li {
  list-style:none;
  background-image:none;
  background-repeat:none;
  background-position:0; 
}
ul
{
  list-style-type:none;
  padding:0px;
  margin:0px;
}


.App {
  
}

.App-logo {

}

.App-header {
  background-color: #282c34;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


